//типовые отступы
$margin-s: 10px; //маленький
$margin-m: 20px; //средний
$margin-l: 30px; //большой

$phone-width: 320px;
$tablet-width: 640px;
$small-desktop-width: 970px;
$desktop-width: 1290px;

//шрифты
$notoSansRegular:"NotoSansRegular", Helvetica, sans-serif;
$notoSansBold:"NotoSansBold", Helvetica, sans-serif;
$playFairDisplayRegular:"PlayfairDisplayRegular", Helvetica, sans-serif;
$small-img-height:103px;
$right-banner-height:calc(#{$small-img-height}*2 + 20px);

